#content {
	position: absolute;
	right: 0;
	left: 0;
}

/* text-shadow: 0 0 5px #000; */

#background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/*background: transparent center center/auto 100% no-repeat;*/
	background: transparent center center/100% auto no-repeat;
	transition: opacity .4s;
}

body.hide #background {
	opacity: 0;
}

/* Lichter auf dem Weg */
#song_11 #background {
	background-image: url("images/ARNE_Previews2-710.jpg");
	background-position-y: 55%;
}

/* Schönheit aus der Asche */
#song_12 #content {
	color: #000;
	text-shadow: 0 0 15px #FFF;
}
#song_12 #background {
	background-image: url("images/ARNE_Previews2-326.jpg");
}

/* Regenbogen */
#song_7151110 #background {
	/* background-image: url("images/"); */
}

/* Kintsugi-Herz */
#song_7151104 #background {
	background-image: url("images/Halfmann_Buchtitel-2_CC-Johannes-Fenn.jpg");
	background-size: 75% auto;
	background-position-y: 20%;
}

/* Dietrich Bonhoeffer Über das Leid */
#song_7 #content {
	bottom: 0;
	color: #000;
}
#song_7 #background {
	background-image: url("images/ARNE_Previews2-555.jpg");
}

/* Dies ist ein Lied */
#song_6 #content {
	color: #000;
}
#song_6 #background {
	background-image: url("images/ARNE_Previews2-336.jpg");
	background-size: 120% auto;
	background-position-y: 20%;
}

/* Die Freiheit lieben */
#song_7151117 #background {
	/*background-image: url("images/");*/
}

/* Für Dich und mich */
#song_10 #content {
	bottom: 0;
	color: #000;
	text-shadow: 0 0 10px #FFF;
}
#song_10 #background {
	background-image: url("images/ARNE_Previews2-255.jpg");
}

/* Du bist Gott, wir sind es nicht */
#song_8 #content {
	color: #000;
}
#song_8 #background {
	background-image: url("images/ARNE_Previews2-805.jpg");
}

/* Du weißt */
#song_9 #content {
	text-shadow: 0 0 10px #000;
}
#song_9 #background {
	background-image: url("images/ARNE_Previews2-384.jpg");
}

/* Ich bin anders */
#song_7151112 #background {
	/*background-image: url("images/");*/
}

/* Dann seh ich Dich */
#song_5 #content {
	color: #000;
}
#song_5 #background {
	background-image: url("images/Geborgenheit-2.jpg");
	background-size: 85% auto;
}

/* Wenn alles gesagt ist */
#song_7053599 #background {
	/*background-image: url("images/");*/
}

/* Alle Schätze der Erkenntnis */
#song_7147382 #background {
	/*background-image: url("images/");*/
}


/* MadL */
#song_101 #content,
#song_103 #content,
#song_104 #content,
#song_106 #content {
	bottom: 0;
	color: #000;
	text-shadow: 0 0 15px #FFF;
}
#song_101 #background,
#song_103 #background,
#song_104 #background,
#song_106 #background {
	background-image: url("images/MadL Lesung Foto2.png");
}

#song_102 #content {
	bottom: 0;
}
#song_102 #background {
	background-image: url("images/Sara Collage SB.png");
	background-size: auto 100%;
}

#song_7147381 video {
	display: block;
	position: fixed;
 	 right: 0;
 	 bottom: 0;
 	 min-width: 100%;
 	 min-height: 100%;
}
