* {
	margin: 0;
	border: 0;
	padding: 0;
	user-select: none;
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

#alerts {
	position: absolute;
	top: 39px;
	right: 0;
	left: 400px;
}

#alerts .alert button {
	float: left;
	margin: -3px 10px 0 0;
	font-size: 20px;
	color: inherit;
	background: transparent;
	cursor: pointer;
}

#alerts .alert button:hover {
	color: #333;
}

#alerts .alert {
	display: block;
	position: relative;
	padding: 9px 25px;
	margin-bottom: 2px;
	border: 1px solid transparent;

	z-index: 99999;
}

main #songs,
main #nav,
main #control {
	cursor: default;
}

main {
	display: grid;
	grid-gap: 0;
	grid-template-columns: 400px auto;
	grid-template-rows: 39px auto 16vw;
	height: 100%;
	cursor: none;
}

main #file {
	display: none;
	pointer-events: auto;
}

main #preview { grid-row: 3 / 3; grid-column: 1 / span 2; }

main #search {
	position: relative;
}

main #search input {
	width: 100%;
	height: 39px;
	padding: 0 15px 0 45px;
	cursor: text;
	user-select: auto;

	background: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjRkZGRkZGIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTUxMS45ODcsNDU0LjA4NkwzNzUuNjUsMzE3Ljc0OGMyMS40NTItMzIuNDA0LDMzLjkzNi03MS4xODYsMzMuOTM2LTExMi45MzQgIGMwLTExMy4xMjEtOTEuNjgzLTIwNC44MDUtMjA0Ljc4Ni0yMDQuODA1QzkxLjY5NSwwLjAwOSwwLjAxMyw5MS42OTMsMC4wMTMsMjA0LjgxNGMwLDExMy4wOSw5MS42ODMsMjA0LjgwNSwyMDQuNzg3LDIwNC44MDUgIGM0MS43MzEsMCw4MC41NTktMTIuNTI5LDExMi45MzItMzMuOTY3TDQ1NC4wNjgsNTExLjk5TDUxMS45ODcsNDU0LjA4NnogTTU4LjA0MiwyMDQuODQ1YzAtODEuMDYsNjUuNzE1LTE0Ni43NDUsMTQ2Ljc1OC0xNDYuNzQ1ICBjODEuMDU5LDAsMTQ2Ljc3Myw2NS42ODUsMTQ2Ljc3MywxNDYuNzQ1YzAsODEuMDYxLTY1LjcxNSwxNDYuNzc2LTE0Ni43NzMsMTQ2Ljc3NkMxMjMuNzU3LDM1MS42MjEsNTguMDQyLDI4NS45MDYsNTguMDQyLDIwNC44NDV6ICAiPjwvcGF0aD48L3N2Zz4=') 15px center/20px 20px no-repeat;
}

main #search ul {
	display: none;
	position: absolute;
	top: 39px;
	right: 0;
	left: 0;
	cursor: pointer;
	user-select: auto;
	z-index: 9999;
}

main #search ul li:first-child {
	border-top: 3px solid;
}

main #search ul li {
	/*padding: 10px 15px 10px 45px;*/
	padding: 10px 15px;
}

main #search input:focus + ul {
	display: block;
}

main #songs {
	position: relative;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}

main.over #songs {
	border: 4px dashed;
}

main #songs label {
	position: absolute;
	right: 0 !important;
	bottom: 0;
	left: 0;
	padding: 35px 0;
	background: transparent center center/auto 100% no-repeat;
	cursor: pointer;
}

main #songs li {
	display: flex;
}

main #songs li span {
	display: block;
	flex-grow: 1;
	padding: 10px 35px 10px 15px;
	cursor:	pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

main #songs li button {
	padding: 0 15px;
	font-size: 16px;
	background: transparent;
	cursor: pointer;
}

main #control {
	overflow: hidden;
	overflow-y: auto;
	/*scroll-behavior: smooth;*/
}

main #control span {
	display: block;
	padding: 10px 0;
}

main #control span.hidden {
	opacity: .2;
}

main #control span p {
	padding: 2px 15px;
	cursor: pointer;
}

main #control span p.overflow::before {
	content: '(!)';
	margin-right: 5px;
	/*
	content: '';
	padding: 8px 10px;
	background: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjYzQ0ZDU4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIiB2ZXJzaW9uPSIxLjEiIHN0eWxlPSJzaGFwZS1yZW5kZXJpbmc6Z2VvbWV0cmljUHJlY2lzaW9uO3RleHQtcmVuZGVyaW5nOmdlb21ldHJpY1ByZWNpc2lvbjtpbWFnZS1yZW5kZXJpbmc6b3B0aW1pemVRdWFsaXR5OyIgdmlld0JveD0iMCAwIDg0Ni42NiA4NDYuNjYiIHg9IjBweCIgeT0iMHB4IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4KICAgCiAgICAuZmlsMCB7ZmlsbDojYzQ0ZDU4O2ZpbGwtcnVsZTpub256ZXJvfQogICAKICA8L3N0eWxlPjwvZGVmcz48Zz48cGF0aCBjbGFzcz0iZmlsMCIgZD0iTTQyMy4zMyAxNDYuOTVjMTUyLjYzLDAgMjc2LjM4LDEyMy43NSAyNzYuMzgsMjc2LjM4IDAsMTUyLjYzIC0xMjMuNzUsMjc2LjM4IC0yNzYuMzgsMjc2LjM4IC0xNTIuNjMsMCAtMjc2LjM4LC0xMjMuNzUgLTI3Ni4zOCwtMjc2LjM4IDAsLTE1Mi42MyAxMjMuNzUsLTI3Ni4zOCAyNzYuMzgsLTI3Ni4zOHptLTI5LjIxIDEyNC4wM2w1OC40NCAwIDAgMjA0LjUzIC01OC40NCAwIDAgLTIwNC41M3ptMjkuMjEgMjM2LjUzYzE4LjgzLDAgMzQuMDksMTUuMjYgMzQuMDksMzQuMSAwLDE4LjgyIC0xNS4yNiwzNC4wOCAtMzQuMDksMzQuMDggLTE4LjgyLDAgLTM0LjA4LC0xNS4yNiAtMzQuMDgsLTM0LjA4IDAsLTE4Ljg0IDE1LjI2LC0zNC4xIDM0LjA4LC0zNC4xem0wIC0zMDYuMTljLTEyMi42MSwwIC0yMjIuMDEsOTkuNCAtMjIyLjAxLDIyMi4wMSAwLDEyMi42MSA5OS40LDIyMi4wMSAyMjIuMDEsMjIyLjAxIDEyMi42MSwwIDIyMiwtOTkuNCAyMjIsLTIyMi4wMSAwLC0xMjIuNjEgLTk5LjM5LC0yMjIuMDEgLTIyMiwtMjIyLjAxeiI+PC9wYXRoPjwvZz48L3N2Zz4=') left center/16px 16px no-repeat;
	*/
}

main #nav {
	z-index: 99;
}

main #nav > li,
main #control li {
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

main #nav li.account,
main #nav li.shows,
main #nav li.config {
	float: right;
	width: 39px;
	height: 39px;
	background: transparent center center/20px 20px no-repeat;
}

main #nav li.account {
	background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGRhdGEtbmFtZT0iTGF5ZXIgMiIgdmlld0JveD0iMCAwIDMyIDMyIiB4PSIwcHgiIHk9IjBweCI+PHRpdGxlPmFjY291bnQsIHBlb3BsZSwgYXZhdGFyLCBwZXJzb24tPC90aXRsZT48cGF0aCBkPSJNMTYsMkExNC4wMDE0NCwxNC4wMDE0NCwwLDAsMCw2LDI1LjhjLjMzLjMzLjY3LjY0LDEuMDMuOTRBMTAuNDI3NDUsMTAuNDI3NDUsMCwwLDAsOC4xNiwyNy41OWExMy45NTcxNSwxMy45NTcxNSwwLDAsMCwxNS42ODAwNiwwQTEwLjQyNzQ1LDEwLjQyNzQ1LDAsMCwwLDI0Ljk3LDI2Ljc0Yy4zNjAwNS0uMy43LS42MSwxLjAzLS45NEExNC4wMDE0NCwxNC4wMDE0NCwwLDAsMCwxNiwyWm05LjYsMjEuMmExMC4wMjExNiwxMC4wMjExNiwwLDAsMC02LjE1LTYuNTgsNSw1LDAsMSwwLTYuOSwwQTEwLjAyMTE2LDEwLjAyMTE2LDAsMCwwLDYuNCwyMy4yYTEyLDEyLDAsMSwxLDE5LjIsMFoiPjwvcGF0aD48L3N2Zz4=');
}

main #nav li.shows {
	position: relative;
	background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDAgNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQwIDQwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTgsMTIuNWgzdi0zSDhWMTIuNXogTTgsMTguNWgzdi0zSDhWMTguNXogTTgsMjQuNWgzdi0zSDggIFYyNC41eiBNOCwzMC41aDN2LTNIOFYzMC41eiBNMTMsOS41djNoMTl2LTNIMTN6IE0xMywxOC41aDE5di0zSDEzVjE4LjV6IE0xMywyNC41aDE5di0zSDEzVjI0LjV6IE0xMywzMC41aDE5di0zSDEzVjMwLjV6Ij48L3BhdGg+PC9zdmc+');
}

main #nav li.config {
	background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIiB2ZXJzaW9uPSIxLjEiIHN0eWxlPSJzaGFwZS1yZW5kZXJpbmc6Z2VvbWV0cmljUHJlY2lzaW9uO3RleHQtcmVuZGVyaW5nOmdlb21ldHJpY1ByZWNpc2lvbjtpbWFnZS1yZW5kZXJpbmc6b3B0aW1pemVRdWFsaXR5OyIgdmlld0JveD0iMCAwIDMzMyAzMzMiIHg9IjBweCIgeT0iMHB4IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4KICAgCiAgICAuZmlsMCB7ZmlsbDojZmZmZmZmfQogICAKICA8L3N0eWxlPjwvZGVmcz48Zz48cGF0aCBjbGFzcz0iZmlsMCIgZD0iTTE5NCAyODVsLTQgNDAgLTQ3IDAgLTQgLTQwYy0xMywtMyAtMjYsLTggLTM3LC0xNWwtMzAgMjUgLTM0IC0zMyAyNSAtMzFjLTcsLTExIC0xMiwtMjQgLTE1LC0zN2wtNDAgLTQgMCAtNDcgNDAgLTRjMywtMTMgOCwtMjYgMTUsLTM3bC0yNSAtMzAgMzQgLTM0IDMwIDI1YzExLC03IDI0LC0xMiAzNywtMTVsNCAtNDAgNDcgMCA0IDQwYzEzLDMgMjYsOCAzNywxNWwzMSAtMjUgMzMgMzQgLTI1IDMwYzcsMTEgMTIsMjQgMTUsMzdsNDAgNCAwIDQ3IC00MCA0Yy0zLDEzIC04LDI2IC0xNSwzN2wyNSAzMSAtMzMgMzMgLTMxIC0yNWMtMTEsNyAtMjQsMTIgLTM3LDE1em0tMjcgLTE4NWMzNywwIDY3LDMwIDY3LDY3IDAsMzcgLTMwLDY3IC02Nyw2NyAtMzcsMCAtNjcsLTMwIC02NywtNjcgMCwtMzcgMzAsLTY3IDY3LC02N3oiPjwvcGF0aD48L2c+PC9zdmc+');
}

main #preview {
	overflow: hidden;
	text-align: center;
	font-size: 4.5vw;
	line-height: 6.5vw;
	margin: 2vw 0 1vw;
	opacity: 1;
	transition: opacity .4s;
	/*scroll-behavior: smooth;*/
}

main #preview.black {
	opacity: 0;
}

main #preview p {
	white-space: nowrap;
}

main #preview p.copyright {
	font-size: 3vw;
	line-height: 4vw;
	padding: 2.5vw 0;
}


.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
	overflow: hidden;
	z-index: 999;
	pointer-events: none;
}

.modal.show {
	display: block;
}

.modal .container {
	position: relative;
	margin: auto;
	min-width: 200px;
	transition: margin-top ease-in .4s;
	pointer-events: auto;
}

.modal.show .container {
	margin-top: 100px;
}

.modal .container header,
.modal .container footer {
	min-height: 30px;
	padding: 5px 16px;
}

.modal .container header button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 8px 16px;
	background: inherit;
	color: inherit;
	cursor: pointer;
}

.modal .container footer button {
	margin-right: 8px;
	padding: 7px 10px;
	color: inherit;
	cursor: pointer;
}

.modal .container .content {
	min-height: 100px;
	max-height: 380px;
	padding: 5px 15px 0;
	overflow-y: auto;
}

.modal .container .content.resizable {
	resize: vertical;
}

.modal input,
.modal textarea {
	user-select: auto;
}

.modal textarea {
	display: block;
	width: 100%;
	height: 130px;
	min-height: 90px;
	max-height: 300px;
	margin-top: 5px;
	padding: 8px 10px;
	resize: vertical;
	user-select: auto;
}

.modal ul.options {
	margin: 0 -5px;
	padding: 10px 0;
}

.modal ul.options li {
	float: left;
	margin: 0 5px 10px;
	padding: 5px 10px;
	cursor: pointer;
}

.modal ul.options li button {
	color: inherit;
	background: none;
	font-size: 16px;
	cursor: pointer;
}

.modal ul.options li button:after {
	margin-left: 7px;
}

.modal ul.remove li button:after {
	content: '×';
}

.modal .login input {
	width: 100%;
	margin: 5px 0;
	padding: 10px 15px;
}

.modal .shows li {
	position: relative;
	display: block;
	padding: 7px 15px;
	margin-bottom: 5px;
	cursor: pointer;
}

.modal .shows li button {
	position: absolute;
	top: 4px;
	right: 5px;
	width: 26px;
	height: 26px;
	color: #FFF;
	background: transparent center center/20px 20px no-repeat;
	cursor: pointer;
}

main #songs label,
.modal .shows li button.upload {
	right: 35px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDY0IDY0IiB4PSIwcHgiIHk9IjBweCI+PHRpdGxlPmNsb3VkLXVwPC90aXRsZT48cGF0aCBkPSJNMjUuMzMzIDkuMzMzYy05LjU3MyAwLTE3LjMzMyA3LjczMy0xNy4zMzMgMTcuMzMzIDAgMC0wLjAwMS0wLjAwMSAwIDAuMjY2LTQuNzU3IDIuNC04IDcuMjAxLTggMTMuMDY4IDAgOCA2LjU2NiAxNC42NjcgMTQuNjY3IDE0LjY2N2gzNmM3LjM2MyAwIDEzLjMzMy02LjEzMyAxMy4zMzMtMTMuMzMzIDAtNS42LTMuNDU5LTEwLjM5OC04LjMzMy0xMi41MzEgMC4xODktMC41MzMgMC4zMzMtMS4zMzUgMC4zMzMtMi4xMzUgMC01LjMzMy00LjE3OS05LjMzMy05LjMzMy05LjMzMy0yLjEyOCAwLTQuMDk2IDAuNTMxLTUuNjY3IDEuODY1LTIuNzgxLTUuODY3LTguNzUyLTkuODY1LTE1LjY2Ny05Ljg2NXpNMzIgMjIuNjY3bDEwLjY2NyAxMy4zMzNoLTUuMzMzdjEzLjMzM2gtMTAuNjY3di0xMy4zMzNoLTUuMzMzeiI+PC9wYXRoPjwvc3ZnPg==");
}

.modal.show footer button {
	width: 100%;
}

.modal .edit {
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid;
	padding: 8px 10px;
	user-select: auto;
	font-size: 14px;
}

.modal .edit span {
	margin: 0 5px;
}

.modal table.config {
	width: 100%;
	margin: 10px 0;
	border-spacing: 0;
	text-align: left;
}

.modal table.config th,
.modal table.config td {
	padding: 10px 15px;
}

.modal table.config td[reset="true"] {
	opacity: .2;
}

.close::after {
	content: '×';
}


html,
body {
	background-color: #000;
}

.modal ul.options li button:hover {
	color: #000;
}

main.over #songs {
	background-color: #101010;
}

main #nav,
main #songs,
main #nav li,
main #control span p:hover,
main #control span p.active {
	background-color: #161616;
}

.modal .container .content,
main #control span.active {
	background-color: #222;
}

.modal .shows li,
.modal ul.options li.active,
.modal ul.options li.active:hover,
.modal table.config tr:nth-child(2n + 1),
main #songs li:hover,
main #nav li:hover {
	background-color: #353535;
}

.modal .shows li:hover,
main #songs li button:hover {
	background-color: #555555;
}

.modal .shows li button:hover,
.modal .container footer button,
.modal .container header button:hover,
.modal .edit span,
.modal ul.options li,
.modal table.config tr:hover,
main #search ul li:hover,
main #nav li.active,
main #nav li.shows ul li:first-child,
main #control span p.overflow::before,
main #songs li.active {
	background-color: #C44D58;
}

main #control span p.overflow::before {
	color: #C44D58;
}

main #search ul li:first-child {
	border-color: #C44D58;
}

.modal .container footer button:hover,
.modal .container header,
.modal .container footer,
.modal ul.options li:hover,
main #search input,
main #search ul,
main #nav li.active:hover,
main #songs li.active:hover {
	background-color: #FF6B6B;
}

main #songs li.dragged {
	background-color: #4ECDC4;
}

main.over #songs {
	border-color: #C7F464;
}

#alerts .alert.success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

#alerts .alert.warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

#alerts .alert.error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

html,
body,
main #search input,
main #songs li button {
	color: #FFF;
}

@supports not (-webkit-touch-callout: none) {
	main #songs label {
		display: none;
	}
}
